<!-- navigasi bawah -->
      <div id="menu_button"
        class="hide fixed bottom-0 z-30 flex w-full max-w-[440px] items-center justify-between gap-2 rounded-se-lg rounded-ss-lg bg-ilm-white px-7 pb-4 pt-3"
      >
        <a href="#dashboard" id="home_button" class="inline-flex flex-col items-center">
          <img src="<?php echo BASE_URL;?>/asset/icon/Icons-Home.svg" alt="" />
          <p class=" ilm-hs-medium text-sm font-semibold text-ilm-space">&nbsp;&nbsp;Home&nbsp;&nbsp;</p>
        </a>
        

        <a href="#kerjakan" id="bank_soal_menu_bawah_btn" class="inline-flex flex-col items-center">
          <img
            src="<?php echo BASE_URL;?>/asset/icon/IconsOutline.svg"
            alt="" style="width: 72px;padding: 8px;"
            class="absolute bottom-10 rounded-full border-4 border-ilm-white bg-ilm-orange"
          />
          <p class="mt-8 ilm-hs-medium text-sm font-semibold text-ilm-space">
            &nbsp;+Soal&nbsp;
          </p>
        </a>

        <a href="#set_ujian" id="set_ujian_menu_bawah_btn" class="inline-flex flex-col items-center">
          <img src="<?php echo BASE_URL;?>/asset/icon/setting.png" alt="" style="width:32px;width: 24px;margin: 5px;" />
          <p class=" ilm-hs-medium text-sm font-semibold text-ilm-space">
            +Ujian
          </p>
        </a>
         
      </div>