<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="" class="flex mr-auto">
      <img
        alt="Midone - HTML Admin Template"
        class="w-6"
        src="/dist/images/logo.svg" />
    </a>
    <a href="javascript:;" class="mobile-menu-toggler">
      <i
        data-lucide="bar-chart-2"
        class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
  </div>
  <div class="scrollable">
    <a href="javascript:;" class="mobile-menu-toggler">
      <i
        data-lucide="x-circle"
        class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
    <ul class="scrollable__content py-2">
      <li>
        <a class="menu menu--active">
          <div class="menu__icon"><i data-lucide="home"></i></div>
          <div class="menu__title">
            Dashboard
            <i
              data-lucide="chevron-down"
              class="menu__sub-icon transform rotate-180"></i>
          </div>
        </a>
        <ul class="menu__sub-open">
          <li data-page="dashboard">
            <a href="javascript:;" class="menu menu--active">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Home</div></a
            >
          </li>
          <li data-page="waris">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Waris</div>
            </a>
          </li>
          <li data-page="zakat">
            <a href="javascript:;" class="menu menu--active">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Zakat</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon"><i data-lucide="box"></i></div>
          <div class="menu__title">
            Waris
            <i data-lucide="chevron-down" class="menu__sub-icon"></i>
          </div>
        </a>
        <ul class="">
          <li data-page="dalil">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Dalil</div>
            </a>
          </li>
          <li data-page="hitung">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Hitung</div>
            </a>
          </li>
          <li data-page="riwayat">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Riwayat</div>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" class="menu">
          <div class="menu__icon"><i data-lucide="shopping-bag"></i></div>
          <div class="menu__title">
            Zakat
            <i data-lucide="chevron-down" class="menu__sub-icon"></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Dalil</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Hitung</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Riwayat</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: Mobile Menu -->
