<!-- BEGIN: Mobile Menu -->
<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="" class="flex mr-auto">
      <img
        alt="Midone - HTML Admin Template"
        class="w-6"
        src="/asset/dist/images/logo.svg" />
    </a>
    <a href="javascript:;" class="mobile-menu-toggler">
      <i
        data-lucide="bar-chart-2"
        class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
  </div>
  <div class="scrollable">
    <a href="javascript:;" class="mobile-menu-toggler">
      <i
        data-lucide="x-circle"
        class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
    <ul class="scrollable__content py-2">
      <li>
        <div class="menu menu--active flex items-center justify-between">
          <div class="flex items-center">
            <div class="menu__icon"><i data-lucide="home"></i></div>
            <span class="menu__title dashboard-link-mobile cursor-pointer">Dashboard</span>
          </div>
          <span class="menu__sub-icon dashboard-dropdown-mobile transform cursor-pointer">
            <i data-lucide="chevron-down"></i>
          </span>
        </div>
        <ul class="menu__sub-open">
          <li data-page="waris">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Waris</div>
            </a>
          </li>
          <li data-page="zakat">
            <a href="javascript:;" class="menu menu--active">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Zakat</div>
            </a>
          </li>
        </ul>
      </li>
      <li id="mobile-menu-waris" class="hidden">
        <a href="javascript:;" class="menu">
          <div class="menu__icon"><i data-lucide="box"></i></div>
          <div class="menu__title">
            Waris
            <i data-lucide="chevron-down" class="menu__sub-icon"></i>
          </div>
        </a>
        <ul class="">
          <li data-page="hitung">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Hitung</div>
            </a>
          </li>
          <li data-page="riwayat">
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Riwayat</div>
            </a>
          </li>
        </ul>
      </li>
      <li id="mobile-menu-zakat" class="hidden">
        <a href="javascript:;" class="menu">
          <div class="menu__icon"><i data-lucide="shopping-bag"></i></div>
          <div class="menu__title">
            Zakat
            <i data-lucide="chevron-down" class="menu__sub-icon"></i>
          </div>
        </a>
        <ul class="">
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Hitung</div>
            </a>
          </li>
          <li>
            <a href="javascript:;" class="menu">
              <div class="menu__icon"><i data-lucide="activity"></i></div>
              <div class="menu__title">Riwayat</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- END: Mobile Menu -->
