<nav class="top-nav relative z-50 -mt-2 hidden translate-y-[35px] opacity-0 md:block xl:-mt-[3px] xl:px-6 xl:pt-[12px]">
    <ul class="flex flex-wrap xl:h-[50px]">
        <li  onclick="top_menu_click(this,'dashboard')">
            <a id="dashboard-top-menu" href="javascript:;" class="top-menu top-menu--active">
                <div class="top-menu__icon">
                    <i data-tw-merge="" data-lucide="home" class="stroke-1.5 w-5 h-5"></i>
                </div>
                <div class="top-menu__title">
                    Dashboard
                </div>
            </a> 
        </li>
        <li onclick="top_menu_click(this,'dashboard/bank_soal')">
            <a id="bank_soal-top-menu" href="javascript:;" class="top-menu">
                <div class="top-menu__icon">
                    <i data-tw-merge="" data-lucide="hard-drive" class="stroke-1.5 w-5 h-5"></i>
                </div>
                <div class="top-menu__title">
                    Bank Soal
                </div>
            </a> 
        </li> 
    </ul>
    <ul class="absolute right-0 mt-3 mr-3 top-0 flex items-center h-[50px]">
        <li>
            <a class="top-menu top-menu--active" href="javascript:;">
                <div class="top-menu__icon">
                    <i data-tw-merge="" data-lucide="more-vertical" class="stroke-1.5 h-5 w-5"></i>
                </div>
            </a>
            <ul class="right-0">
                <li onclick="top_menu_click(this,'dashboard/license')">
                    <a id="license-top-menu" class="top-menu" href="javascript:;">
                        <div class="top-menu__icon">
                            <i data-tw-merge="" data-lucide="key" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="top-menu__title">
                            License
                        </div>
                    </a>
                </li>
                <li>
                    <a class="top-menu" href="javascript:;">
                        <div class="top-menu__icon">
                            <i data-tw-merge="" data-lucide="share2" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="top-menu__title">
                            Affiliate
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5 top-menu__sub-icon"></i>
                        </div>
                    </a>
                    <ul class="" style="left:-100%;">
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="users" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Link
                                </div>
                            </a> 
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="trello" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Trafik
                                </div>
                            </a> 
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="shopping-bag" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Komisi
                                </div>
                            </a> 
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="inbox" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Prospek
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="folder" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Set Bonus
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="credit-card" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Kupon
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="message-square" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Bank
                                </div>
                            </a>
                        </li> 
                    </ul>
                </li>
                <li onclick="top_menu_click(this,'dashboard/tagihan')">
                    <a id="tagihan-top-menu" class="top-menu" href="javascript:;">
                        <div class="top-menu__icon">
                            <i data-tw-merge="" data-lucide="file-text" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="top-menu__title">
                            Tagihan
                        </div>
                    </a>
                </li>

                <li>
                    <a class="top-menu" href="javascript:;">
                        <div class="top-menu__icon">
                            <i data-tw-merge="" data-lucide="help-circle" class="stroke-1.5 w-5 h-5"></i>
                        </div>
                        <div class="top-menu__title">
                            Support
                            <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5 top-menu__sub-icon"></i>
                        </div>
                    </a>
                    <ul class="" style="left:-100%;">
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Ticket
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Dokumentasi
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="top-menu" href="javascript:;">
                                <div class="top-menu__icon">
                                    <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i>
                                </div>
                                <div class="top-menu__title">
                                    Tutorial
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>