<div id="popup_wrapper" class="hide" >
	<div id="popup_bg">
    	<div id="popup_sign" >&nbsp;</div>
    	<div id="popup_close" >x</div>
		<h2 id="popup_title" class=" ilm-hs-medium sl:text-[16px] text-[14px]">
			.
		</h2>
		<div  id="popup_body" class="font-weight-500 text-[10px] sl:text-[12px]">
			...
		</div>
		<div id="popup_button">
			<button style="background: darkorange;color: white;" onclick="return close_popup();" 
                class=" m-auto mt-4 flex w-full rounded-lg border-2 border-ilm-orange py-4" >
                <span class="m-auto flex gap-2">Close</span>
             </button>
		</div>
	</div>
</div>

<div id="popup_wrapper_top" class="hide" >
	<div id="popup_bg_top">
    	<div id="popup_close_top" >x</div>
		<h2 id="popup_title_top" class=" ilm-hs-medium sl:text-[16px] text-[14px]">
			iin judul
		</h2>
		<div  id="popup_body_top" class="font-weight-500 text-[10px] sl:text-[12px]">
			...
		</div>
		<div id="popup_button_top">
			<button style="background: darkorange;color: white;" onclick="return close_popup();" 
                class=" m-auto mt-4 flex w-full rounded-lg border-2 border-ilm-orange py-4" >
                <span class="m-auto flex gap-2">Close</span>
             </button>
		</div>
    	<div id="popup_sign_top" >&nbsp;</div>
	</div>
</div>