<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="ceKdwoQjZ4VuoGqoSQaSREwB7MD9sjwFnfhlp7MH">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Midone admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, midone Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Dashboard - Midone - Tailwind Admin Dashboard Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="/asset/dist/css/vendors/tippy.css">
    <link rel="stylesheet" href="/asset/dist/css/vendors/litepicker.css">
    <link rel="stylesheet" href="/asset/dist/css/vendors/tiny-slider.css">
    <link rel="stylesheet" href="/asset/dist/css/themes/icewall/top-nav.css">
    <link rel="stylesheet" href="/asset/dist/css/vendors/leaflet.css">
    <link rel="stylesheet" href="/asset/dist/css/vendors/simplebar.css">
    <link rel="stylesheet" href="/asset/dist/css/components/mobile-menu.css">
    <link rel="stylesheet" href="/asset/dist/css/app.css">
    <link rel="stylesheet" href="/asset/css/main.css"> <!-- END: CSS Assets-->
    <script>
        localStorage.setItem("theme-color","theme-1");
        localStorage.setItem("layout","top-menu");
        localStorage.setItem("theme","icewall");
    </script>
</head>
<!-- END: Head -->
 